### Verify

The three year goals of the Verify group (high-level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Averify); [SMAU (Stage Monthly Active Users) dashboard](https://app.periscopedata.com/app/gitlab/456428/Verify-Stage-Dashboard)) are:

1. Be the tool of choice for groups that want to reduce their lead time for changes to under an hour. Part of how we will achieve this is by taking [CI/CD analytics](https://gitlab.com/groups/gitlab-org/-/epics/358) to the next level.
1. [Provide automated setup, configuration and management](https://gitlab.com/groups/gitlab-org/-/epics/2778) of  Runners for self-managed.
1. [Make ML/AI workflows easier](https://gitlab.com/groups/gitlab-org/-/epics/2436), including features like [adding the ability to install industry leading applications like Kubeflow](https://gitlab.com/gitlab-org/gitlab/issues/197424) to your Kubernetes clusters.

#### Verify Stage Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "verify" }) %>

#### Pricing

In our [adoption journey](https://about.gitlab.com/direction/ops/#user-adoption-journey), Verify features are frequently used by users of GitLab Source Code Management, but a not-insignificant portion is also users of CI/CD for external repositories. See below for the how we are thinking about each of the tiers, and the kinds of features that will be included.

##### Core/Free

The foundation of the Core/Free strategy for Verify is that enhancements to baseline CI YAML features will be available in this tier by default. The rationale for this approach is that we want to preserve a consistent experience. Users must always be able to use the same `.gitlab-ci.yml` in all tiers.

Beyond this, features that drive broad adoption and help with onboarding (including generally making it easier to get started with GitLab CI) are also good candidates for inclusion in this tier. Providing solutions to simplify the deployment and management of Runners at scale for self-managed is also critical.

##### Starter/Bronze

Our plan for features in this tier is to appeal to managers of small teams. These features will be targeted at the team lead who is managing the team's workload, for example looking at trends in how [code coverage](https://gitlab.com/groups/gitlab-org/-/epics/100) and [quality data](https://gitlab.com/groups/gitlab-org/-/epics/3686) is evolving over time, and who wants to encourage collaboration in the team by using features like [Visual Review Tools](https://gitlab.com/groups/gitlab-org/-/epics/3085). Additionally, we will invest in paid dashboards that tie together various stages that connect with CI, adding value more than the sum of the whole. One example of the latter is running automated tests as part of the release to enable smarter rollback control. 

You can see features that we are considering including in this tier in this [issue search](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name%5B%5D=devops%3A%3Averify&label_name%5B%5D=GitLab%20Starter).

##### Premium/Silver

The default paid tier for enterprises, Premium will cater to directors operating a medium to large instance. We will focus on features that solve for typical entry-level enterprise needs: reporting and analytics, operational efficiency, and other needs that are must-haves for medium to large organizations.

You can see features that we are considering including in this tier in this [issue search](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name%5B%5D=devops%3A%3Averify&label_name%5B%5D=GitLab%20Premium).

##### Ultimate/Gold

There is an opportunity to support inner-sourcing/collaboration for CI in this top tier since it's only if you are utilizing CI across thousands of projects that those types of capabilities are warranted. This would be exemplified by issues like [gitlab#24939](https://gitlab.com/gitlab-org/gitlab/-/issues/24939).

You can see features that we are considering including in this tier in this [issue search](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name%5B%5D=devops%3A%3Averify&label_name%5B%5D=GitLab%20Ultimate).
