---
layout: default
title: Git branching strategies
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/version-control/branching-strategies?lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the eBook"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the eBook"
success_message: "You will also receive a copy of the eBook sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Git branching strategies
        %h2.page-headline Find the workflow best suited for your team

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Git is a great tool for tracking source code changes, but it’s process agnostic. Even though many developers use it every day, a lot of them don’t get the maximum benefits from it. Branching is a method that every developer should use to keep the code base clean and prevent unfinished features going into production.
            
            %p How teams approach branching is an important part of finding success with source code management. It’s up to development teams to decide on a Git branching strategy that makes sense given established processes and goals.

            %h3 What you’ll learn in this eBook:
            %ul
              %li Why branching is an important step in development
              %li Which branching strategy is right for your team
              %li How GitLab Flow modernizes software development

            %p Download the eBook to determine which branching strategy will help you simplify development.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }